<h2>Enter the information for the new Wonder:</h2>
<br>
<form action="/wonders/create">
  Name:  <input type="text" name="name"><br>
  Country:  <input type="text" name="country"><br>
  Image: <input type="text" name="image_url"><br>
  Annual Visitors: <input type=integer name="visitors"><br><br>
  <input type="submit" value="Submit">
</form>